.widget {
    margin-bottom: var(--widget-space);
}

.widget:last-child {
    margin-bottom: 0;
}

.widget ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.widget_categories ul li a {
    text-decoration: none;
    color: var(--bs-dark);
}